<body class="body-background">
    <app-navbar></app-navbar>
    <div class="content container">
        <div class="row justify-content-center">
            <div class="col-auto mx-auto">
                    <div class="text-center text-white">
                        <h1 class="font-weight-bold">Prueba Técnica Para:</h1>
                        <a href="https://www.3it.cl/home" target="_blank">
                            <img class="mt-3" src="../../assets/logo3it-hover.5fa2517ec0193083.svg">
                        </a>
                        <h2 class="mt-4">Autor</h2>
                        <h3 class="mt-2">Pablo Velásquez Rivas</h3>
                        <a href="https://www.linkedin.com/in/p-velasquezr/" target="_blank" class="mt-3 btn btn-linkedin">
                            <i class="fab fa-linkedin fa-2x"></i>
                        </a>
                    </div>
            </div>
        </div>
    </div>
</body>
